<meta charset="UTF-8"/>
<meta name="keywords" content="罗江涛-西南大学 个人博客，一起学习PHP和佛法吧。follow me" />
<meta name="description" content="罗江,luojiangtaoPHP框架,PHP,西南大学,佛" />
<meta name="baidu-site-verification" content="RNg3JaPXlG" />
<link rel="stylesheet" href="__ROOT__/Index/View/Public/css/bootstrap.min.css"/>
<link rel="stylesheet" href="__ROOT__/Index/View/Public/css/common.css"/>
<link rel="icon" href="__ROOT__/Index/View/Public/images/favicon.ico" mce_href="__ROOT__/Index/View/Public/images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="__ROOT__/Index/View/Public/images/favicon.ico" mce_href="__ROOT__/Index/View/Public/images/favicon.ico" type="image/x-icon">
<script src="__ROOT__/Index/View/Public/js/jquery-1.9.1.min.js">
</script>
<script src="__ROOT__/Index/View/Public/js/bootstrap.min.js">
</script>
<script src="__ROOT__/Index/View/Public/js/common.js">
</script>