<!--
    导航开始
-->
<br>
<div class="container">
    <div class="row" id="top">
        <div class="col-xs-6">
            <a href="{:U('Index/index')}"><img src="__ROOT__/Index/View/Public/images/logo.png"/></a>
        </div>
        <div class="col-xs-6">
            <form action="{:U('Index/index')}" method="post">
                <div class="input-group">
                        <input type="text" name="keyword" class="form-control" placeholder="输入关键字，如PHP、JS、佛"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                搜索
                            </button>
                        </span>
                </div>
            </form>
            <p class="hot-search">
                <span href="#">热搜：</span>　
                <a href="#">佛</a>　
                <a href="#">PHP</a>　
                <a href="#">HTML</a>　
                <a href="#">JS</a>
            </p>
        </div>
    </div>
</div>
<br>
<div style="background: #ff9400;height: 40px;">
    <div  class="container">
        <div class="row" id="navigation">
            <a href="{:U('Index/index')}">
            <div class="col-xs-1 text-center">
                全部
            </div>
            </a>
            <foreach name='category' item='v'>
            <a href="{:U('Index/index', array('category_id'=>$v['category_id']))}">
                <div class="col-xs-1 text-center">
                    {$v['category_name']}
                </div>
            </a>
            </foreach>
        </div>
    </div>
</div>
<!--
    导航结束
-->
