<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>跳转提示</title>
</head>
<body>
	<h1>:)</h1>
	<h1><?php echo $message; ?></h1>
<h2>页面自动 <a id="href" href="javascript:history.back(-1);">跳转</a> 等待时间： <b id="wait"><?php echo $time; ?></b></h2>
<script type="text/javascript">
(function(){
var wait = document.getElementById('wait'),href = document.getElementById('href').href;
var interval = setInterval(function(){
	var time = --wait.innerHTML;
	if(time <= 0) {
		location.href = href;
		clearInterval(interval);
	};
}, 1000);
})();
</script>
</body>
</html>