<include file="Common/header.html"/>
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon">
                    </i>
                    <a href="__APP__">
                        首页
                    </a>
                </li>
                <li class="active">
                    控制台
                </li> 
            </ul>
            <!-- .breadcrumb -->
        </div>
        <div class="page-content">
            <div class="page-header">
                <h1>
                    控制台
                    <small>
                        <i class="icon-double-angle-right">
                        </i>
                        系统详情
                    </small>
                </h1> 
            </div>
            <!-- /.page-header -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-block alert-success">
                        <button type="button" class="close" data-dismiss="alert">
                            <i class="icon-remove">
                            </i>
                        </button>
                        <i class="icon-ok green">
                        </i>
                        欢迎使用
                        <strong class="green">
                            小猪八戒后台管理系统
                            <small>
                                (v1.0)
                            </small>
                        </strong>
                        ,基于 luojiangtaoPHP 框架开发.
                    </div>
                    <div class="table-responsive">
                        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                            <tbody>
                                <tr>
                                    <td>
                                        系统信息；
                                    </td>
                                    <td>
                                        {$_SERVER['SERVER_SOFTWARE']}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        PHP版本；
                                    </td>
                                    <td>
                                        {$PHP_VERSION=PHP_VERSION}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        MySQL版本：
                                    </td>
                                    <td>
                                        {:mysql_get_server_info()}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        服务器IP：
                                    </td>
                                    <td>
                                        {$_SERVER['SERVER_ADDR']}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        域名：
                                    </td>
                                    <td>
                                        {$_SERVER['SERVER_NAME']}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        端口：
                                    </td>
                                    <td>
                                        {$_SERVER['SERVER_PORT']}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        客户端IP：
                                    </td>
                                    <td>
                                        {$_SERVER['REMOTE_ADDR']}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        入口文件：
                                    </td>
                                    <td>
                                        {$_SERVER['PHP_SELF']}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        浏览器信息：
                                    </td>
                                    <td>
                                        {$_SERVER['HTTP_USER_AGENT']}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->
    <include file="Common/footer.html"/>
