/*公共css*/

* {
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    border-radius: 0px;
}

html {}

body {
    /*background: #EFEFEF;*/
}

.container {
    width: 1100px !important;
}

.btn-warning {
    color: #fff;
    background: #ff6724;
    border: none;
}

.load-more .btn-warning {
    color: #ff6724;
    background: #fff;
    border: none;
}

.load-more .btn-warning:hover {
    color: #fff;
    background: #ff6724 !important;
    /*background: #eee !important;*/
}

#no-more-article-list {
    display: none;
}

.white {
    background: #fff;
}

.text-white {
    color: #fff;
}

.text-info {
    color: #ff6724;
}

.text-warning {
    color: #ff6724;
}

hr {
    margin-left: 23px;
    margin-right: 20px;
}


/*清除原生bootstrap内边距，外边据*/

.container {
    padding-left: 0px;
    padding-right: 0px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    border-radius: 0px;
}


/*分页样式*/

a:hover {
    text-decoration: underline;
}


/*文章内容里面图片最大宽度100%*/

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #1a1a1a;
}


/*顶部*/

#top {}

#top .input-group {
    height: 45px;
    border: 3px solid #ff9400;
}

#top input {
    height: 45px;
    border-radius: 0px;
    border: 0px;
    /*去除input选中后的蓝边*/
    outline: none;
}

#top button {
    height: 45px;
    color: #fff;
    background-color: #ff9400;
    border-color: #ff9400;
}

#top .hot-search a, #top .hot-search span  {
    color: #999;
    font-size: 12px;
}


/*导航条*/

#navigation a {
    font-size: 16px;
    color: #fff;
    line-height: 37px;
}

#navigation .col-xs-1:hover {
    background: #ff7900;
}


/*底部导航*/

#footer {
    background-color: #363636;
    color: #ccc;
    height: 300px;
    border-color: none;
    padding: 20px 0px 10px;
    margin-bottom: 0px;
}