<meta charset="utf-8"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="keywords" content="罗江涛-个人博客"/>
<meta name="description" content="罗江涛,luojiangtaoPHP框架,PHP,西南大学"/>
<link rel="stylesheet" type="text/css" href="__ROOT__/Application/Index/View/Public/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="__ROOT__/Application/Index/View/Public/css/nprogress.css"/>
<link rel="stylesheet" type="text/css" href="__ROOT__/Application/Index/View/Public/css/style.css"/>
<link rel="stylesheet" type="text/css" href="__ROOT__/Application/Index/View/Public/css/font-awesome.min.css"/>
<link rel="apple-touch-icon-precomposed" href="__ROOT__/Application/Index/View/Public/images/icon.png"/>
<link rel="shortcut icon" href="__ROOT__/Application/Index/View/Public/images/favicon.ico"/>
<script src="__ROOT__/Application/Index/View/Public/js/jquery-2.1.4.min.js">
</script>
<script src="__ROOT__/Application/Index/View/Public/js/nprogress.js">
</script>
<script src="__ROOT__/Application/Index/View/Public/js/jquery.lazyload.min.js">
</script>
<script src="__ROOT__/Application/Index/View/Public/js/vue.min.js">
</script>
<script>
    var root_path = "__ROOT__";
    var ajax_get_article_list = "{:U('Index/Index/get_article_list')}";
    var category_id = "{:I('category_id')}";
    var keyword = "{:I('keyword')}";
    var ajax_get_article_list_url = "{:U('Index/Index/ajax_get_article_list')}";
    
</script>
<!--[if gte IE 9]>
    <script src="__ROOT__/Application/Index/View/Public/js/jquery-1.11.1.min.js" type="text/javascript">
    </script>
    <script src="__ROOT__/Application/Index/View/Public/js/html5shiv.min.js" type="text/javascript">
    </script>
    <script src="__ROOT__/Application/Index/View/Public/js/respond.min.js" type="text/javascript">
    </script>
    <script src="__ROOT__/Application/Index/View/Public/js/selectivizr-min.js" type="text/javascript">
    </script>
<![endif]-->
<!--[if lt IE 9]>
    <script>
        window.location.href='upgrade-browser.html';
    </script>
<![endif]-->
