<!DOCTYPE html>
<html lang="en">
    <head>
        <include file="Common/header"/>
            <title>
                罗江涛-小猪八戒
            </title>
            <link rel="stylesheet" href="__ROOT__/Index/View/Public/css/index.css"/>
        </head>
        <body>
            <include file="Common/navigation"/>
                <br/>
                <div class="container">
                    <div class="row text-center" id="list">
                        <!-- 列表项开始 -->
                        <foreach name='article' item='v'>
                            <div class="col-xs-3">
                                <p>
                                    <a href="{:U('Index/article_detail', array('article_id'=>$v['article_id']))}" target="_blank">
                                        <img src="__ROOT__/Upload/{$v['image']}" class="thumbnail img-responsive center-block" style="height: 183px;width: 183px;" height="183px" width="183px" />
                                    </a>
                                </p>
                                <p>
                                    <a href="{:U('Index/article_detail', array('article_id'=>$v['article_id']))}" target="_blank" class="list-text">
                                        {$v['title']}
                                    </a>
                                </p>
                            </div>
                            <!-- 列表项结束 -->
                        </foreach>
                    </div>
                    <style>
                        
                    </style>
                    <br>
                    <p class="text-center">{$page}</p>
                    <br>
                </div>
                <include file="Common/footer"/>
                </body>
            </html>
