<include file="Common/header.html"/>
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon">
                    </i>
                    <a href="#">
                        首页
                    </a>
                </li>
                <li class="active">
                    修改密码
                </li>
            </ul>
            <!-- .breadcrumb -->
        </div>
        <div class="page-content">
            <div class="page-header">
                <h1>
                    修改密码
                </h1>
            </div>
            <!-- /.page-header -->
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal" role="form" action="{:U('Index/change_password')}" method="post">
                        <if condition="isset($_GET['category_id'])">
                            <input type="hidden" name="category_id" value="{$_GET['category_id']}"/>
                        </if>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">
                                新密码
                            </label>
                            <div class="col-sm-9">
                                <input type="text" name="password" class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="submit">
                                    <i class="icon-ok bigger-110">
                                    </i>
                                    确定
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->
    <include file="Common/footer.html"/>
